<div>
    <h1 class="serverComments">Comments</h1>
    <button class="mui-btn mui-btn--primary logout">Logout</button>
    <ol>
        {{#each this}}
        <li>
            <h3>{{name}}</h3>
            <p>{{date}}</p>
            <p>{{comment}}</p>
        </li>
        {{/each}}
    </ol>
</div>