<h1 class="title">Login</h1>
<form class="modal-form" action="submit">
    <label class="label">
        Введите логин
        <input value="user@mail.com" type="text">
    </label>
    <label class="label">
        Введите пароль
        <input value="12345678" autocomplete="off" type="password">
    </label>
    <button class="button">JOIN</button>
</form>