<button class="mui-btn mui-btn--flat mui-btn--primary log-btn">Login</button>
<div class="main">
    <h1>Firebase</h1>
    <form class="comment-form" action="submit">
        <label>
            <p>Name:</p>
            <input type="text" class="name">
        </label>
        <label>
            <p>Comment:</p>
            <input class="comment" type="text">
        </label>
        <button class="submit-form">SEND</button>
    </form>
</div>
<ul class="comments"></ul>