<button class="mui-btn mui-btn--flat mui-btn--primary log-btn">Login</button>
<button class="mui-btn mui-btn--flat mui-btn--primary reg-btn">Registration</button>
<div class="main">
    <h1>Firebase</h1>
    <form class="comment-form" action="submit">
        <label>
            <p>Name:</p>
            <input type="text" class="name">
        </label>
        <label>
            <p>Comment:</p>
            <textarea rows="10" cols="40" class="comment" type="text" style="resize: none"></textarea>
        </label>
        <button class="submit-form">SEND</button>
    </form>
</div>
<ul class="comments"></ul>