<h1 class="title">Registration</h1>
<form class="modal-reg-form comment-form" action="submit">
    <label class="label">
        Введите логин
        <input type="text">
    </label>
    <label class="label">
        Введите пароль
        <input autocomplete="off" type="password">
    </label>
    <label class="label">
        povtorite пароль
        <input autocomplete="off" type="password">
    </label>
    <button class="submit-form">Submit</button>
</form>