html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: rgb(235, 191, 96);
}

h1 {
  margin-top: 50px;
  font-size: 48px;
  font-family: monospace;
  color: rgb(201, 85, 85);
}

input {
  margin-bottom: 15px;
  width: 270px;
  height: 40px;
  background-color: rgb(201, 85, 85);
  color: #fff;
  font-weight: 600;
  font-size: 23px;
}

p {
  font-size: 22px;
  font-weight: 700;
}

.submit-form {
  padding: 7px;
  border-radius: 4px;
  background-color: rgb(201, 85, 85);
  color: #fff;
  cursor: pointer;
}

/* ============================= */

.log-btn {
  position: fixed;
  right: 20px;
  top: 10px;
}

.reg-btn {
  position: fixed;
  right: 130px;
  top: 10px;
}
.login {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  width: 70%;
  height: 60%;
  background-color: #fff;
  margin: 100px auto;
}

.title {
  text-align: center;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin-top: 20px;
}

.main {
  display: block;
  text-align: center;
}

.comment-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.login {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  width: 50%;
  height: 60%;
  background-color: rgb(243, 224, 182);
  margin: 100px auto;
}

.button {
  padding: 10px;
  background-color: rgb(201, 85, 85);
  color: #fff;
  font-weight: 700;
}

.serverComments {
  font-size: 48px;
  font-family: monospace;
  color: rgb(201, 85, 85);
  text-align: center;
}

.logout {
  position: absolute;
  top: 10px;
  right: 0px;
  margin-right: 20px;
}

.comment {
  background-color: rgb(201, 85, 85);
  color: #fff;
  font-size: 16px;
}
